

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #dfd8e8, #c7bfd9);
    padding: 40px;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #333;
    width: 300px;
    padding: 30px;
    border-radius: 6px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    color: #333;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 12px 35px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
}